.card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  width: 100vh;
  -webkit-box-shadow: 0px 0px 41px -28px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 41px -28px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 41px -28px rgba(66, 68, 90, 1);
}

.card__heading {
  align-items: center;
  display: flex;
  color: #fb6041;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__link {
  color: #017bfe;
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
}

.card__icon {
  cursor: pointer;
}

.card__switch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.flag {
  font-size: 32px;
}
