body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .container {
    display: block;
  }
}
